<template lang="pug">
v-group(:config="groupConfig" @dragmove="onGroupDragmove" @click="e => $emit('click', e)")
  v-rect(:config="rectConfig")
  v-circle(:config="circleTopConfig" @click="e => emitPointClick(e, 'top')")
  v-circle(:config="circleRightConfig" @click="e => emitPointClick(e, 'right')")
  v-circle(:config="circleBottomConfig" @click="e => emitPointClick(e, 'bottom')")
  v-circle(:config="circleLeftConfig" @click="e => emitPointClick(e, 'left')")
</template>

<script>
export default {
  name: 'VBlock',

  props: {
    config: {
      type: Object,
      default: () => ({}),
    },
  },

  computed: {
    groupConfig: {
      get() {
        return {
          x: this.config.x,
          y: this.config.y,
          draggable: true,
        }
      },
    },

    rectConfig: {
      get() {
        return {
          x: 0,
          y: 0,
          width: 100,
          height: 100,
          fill: '#4373c1',
        }
      },
    },

    circleConfig: {
      get() {
        return {
          width: 30,
          height: 30,
          fill: '#72ac50',
        }
      },
    },

    circleTopConfig: {
      get() {
        return {
          x: this.rectConfig.width / 2,
          y: 0,
          ...this.circleConfig,
        }
      },
    },

    circleRightConfig: {
      get() {
        return {
          x: this.rectConfig.width,
          y: this.rectConfig.height / 2,
          ...this.circleConfig,
        }
      },
    },

    circleBottomConfig: {
      get() {
        return {
          x: this.rectConfig.width / 2,
          y: this.rectConfig.height,
          ...this.circleConfig,
        }
      },
    },

    circleLeftConfig: {
      get() {
        return {
          x: 0,
          y: this.rectConfig.height / 2,
          ...this.circleConfig,
        }
      },
    },
  },

  methods: {
    onGroupDragmove(e) {
      this.config.x = e.target.attrs.x
      this.config.y = e.target.attrs.y
    },

    emitPointClick(event, type) {
      this.$emit('point:click', { event, type })
    },
  },
}
</script>
