<template lang="pug">
#app
  h1(align="center") aptitude-test-borisbot
  p(align="center")
    button(@click="addNewBlock()") Добавить новый блок
    button(
      :disabled="!blocks.includes(activeBlock)"
      @click="removeBlock(activeBlock)"
    ) Удалить выделенный блок
    button(
      :disabled="!relationships.includes(activeRelationship)"
      @click="removeRelationship(activeRelationship)"
    ) Удалить выделенную линию
    br
    button(@click="generateBlocks(100)") Сгенерировать 100 блоков
    br
    br
    | Блоков на странице: {{ blocks.length }}
  .wrapper
    v-stage(:config="{ width: 960, height: 600 }")
      v-layer
        v-line(
          v-for="(relationship, key) in relationships" :key="`relationship-${key}`"
          v-if="rConfig = getRelationshipConfig(relationship)"
          :config="rConfig"
          @click="activeRelationship = activeRelationship !== relationship ? relationship : null"
        )
        v-block(
          v-for="(block, key) in blocks" :key="`block-${key}`"
          :config="block"
          @point:click="({ type }) => addRelationship(block, type)"
          @click="activeBlock = activeBlock !== block ? block : null"
        )
</template>

<script>
import VBlock from './components/v-block'

function randomInteger(min, max) {
  let rand = min - 0.5 + Math.random() * (max - min + 1)
  return Math.round(rand)
}

export default {
  name: 'App',

  components: { VBlock },

  data: () => {
    const output = {
      blocks: [
        { x: 221, y: 221 },
        { x: 585, y: 221 },
        { x: 420, y: 430 },
      ],
      activeBlock: null,
      activeRelationship: null,
      relationships: [],
    }

    output.relationships.push({
      type: 'right-left',
      blocks: [output.blocks[0], output.blocks[1]],
    })

    output.relationships.push({
      type: 'bottom-top',
      blocks: [output.blocks[1], output.blocks[2]],
    })

    return output
  },

  methods: {
    addNewBlock(x = 0, y = 0) {
      this.blocks.push({ x, y })
    },

    generateBlocks(count) {
      for (let i = 1; i <= count; i++) {
        this.addNewBlock(randomInteger(0, 1200), randomInteger(0, 1200))
      }
    },

    getRelationshipConfig(config) {
      const [bType, eType] = config.type.split('-')
      const [begin, end] = config.blocks
      let output = null

      if (bType && eType && begin && end) {
        const _ = (type) => {
          if (type === 'top') {
            return { x: 50, y: 0 }
          } else if (type === 'right') {
            return { x: 100, y: 50 }
          } else if (type === 'bottom') {
            return { x: 50, y: 100 }
          } else if (type === 'left') {
            return { x: 0, y: 50 }
          }
        }
        const beginPos = _(bType)
        const endPos = _(eType)
        output = {
          x: 0,
          y: 0,
          points: [begin.x + beginPos.x, begin.y + beginPos.y, end.x + endPos.x, end.y + endPos.y],
          tension: 1,
          closed: true,
          stroke: this.activeRelationship === config ? 'red' : 'black',
          strokeWidth: 3,
        }
      }

      return output
    },

    addRelationship(block, type) {
      for (const relationship of this.relationships) {
        const indexType = relationship.type.split('-').indexOf(type)
        const indexBlock = relationship.blocks.indexOf(block)

        if (indexType > -1 && indexType === indexBlock) {
          alert('Связь уже занята')
          return false
        }
      }

      const lastRelationship = this.relationships[this.relationships.length - 1]

      if (lastRelationship && lastRelationship.blocks.length === 1) {
        if (lastRelationship.blocks.includes(block)) {
          alert('Связь на себя нельзя установить')
          return false
        }

        lastRelationship.type += `-${type}`
        lastRelationship.blocks.push(block)
      } else {
        this.relationships.push({
          type,
          blocks: [block],
        })
      }

      return true
    },

    removeBlock(block) {
      const index = this.blocks.indexOf(block)
      if (index > -1) {
        this.relationships = this.relationships.filter(({ blocks }) => !blocks.includes(block))
        this.blocks.splice(index, 1)
      }
    },

    removeRelationship(relationship) {
      const index = this.relationships.indexOf(relationship)
      if (index > -1) {
        this.relationships.splice(index, 1)
      }
    },
  },
}
</script>

<style>
body {
  background-color: aliceblue;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
.wrapper {
  width: 960px;
  height: 600px;
  margin: 0 auto;
  background-color: white;
}
</style>
